python-dotenv==1.0.1
streamlit==1.41.1
psutil==6.1.1
matplotlib==3.10.0
networkx==3.4.2
py2neo==2021.2.4
langchain_neo4j==0.3.0
langchain==0.3.17
langchain_community==0.3.16
bs4==0.0.2
ddgs==9.14.1
uvicorn==0.34.0
fastapi==0.115.8
scipy==1.15.1
scikit-learn==1.8.0
pandas==2.3.3
rank_bm25==0.2.2
langchain-huggingface==0.3.1
sentence-transformers==5.4.1